name: Build & Test

on: [push]

jobs:
  build_and_test:
    name: Rust project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        name: Build Library
        with:
          command: build
          args: --workspace --release --all-features
      - uses: actions-rs/cargo@v1
        name: Run Tests
        with:
          command: test
          args: --workspace --release --all-features
